body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#c43b74;
}

.header_text {
    font-family: 'Sans-serif';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}
img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nextButton {
    position: absolute;
    margin-right: 150px;
}
